.popup__submit-button {
  min-width: 358px;
  min-height: 50px;
  background-color: #000;
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  padding:0;
  margin: 18px auto 37px;
  cursor: pointer;
}

.popup__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

@media screen and (max-width: 767px) {
  .popup__submit-button {
    min-width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 15px auto 25px;
  }
}
